<div class="modal-content">
    <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <h4 class="modal-title">Add new broker</h4>
    </div>
    <div class="modal-body">
        <div role="form">

            <div class="form-group">
                <label>NIC</label>
                <input type="text" name="nicBroker" id="nicBroker" ng-model="brokers.broker.NIC" ng-keyup="brokers._getBrokerExistency()"
                    class="form-control" placeholder="900015512v" />

                <span class="text-danger" ng-show="isBrokerExist">This Broker already exist in the databaset!</span>
            </div>

            <div class="form-group">
                <label>Name</label>
                <input class="form-control" ng-model="brokers.broker.Name" placeholder="T.S Lorensu">
            </div>

            <div class="form-group">
                <label>Address</label>
                <textarea class="form-control" ng-model="brokers.broker.Address" rows="4" cols="50" placeholder="100/1,Rathmalana, colombo"></textarea>
            </div>

            <div class="form-group">
                <label>Contact No</label>
                <input class="form-control" ng-model="brokers.broker.ContactNo" placeholder="0776784325">
            </div>

            <div class="form-group">
                <label>Occupation</label>
                <input class="form-control" ng-model="brokers.broker.Occupation" placeholder="Mechanic">
            </div>

            <button type="submit" ng-disabled="isBrokerExist" ng-click="brokers._createBroker()" class="btn btn-default">Add new broker</button>

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div>