<div id="page-wrapper">
    <div class="container-fluid">

        <div class="row">
            <div class="panel panel-default">

                <div class="panel-heading" style="background:#2c4a68; color:white">
                    <h3>Contract instalments</h3>
                </div>
                <div class="panel-body">

                </div>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Due date</th>
                                <th>Paid amount</th>
                                <th>Unsettle amount</th>
                                <th>Late payment dates</th>
                                <th>Paid date</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr style="background-color: #428bca">
                              <th style="color:white">Total paid amount</th>
                              <td style="color:white">{{contract.totalPaidAmount}} Rs</td>
                              <th style="color:white">Total paid fine</th>
                              <td style="color:white">{{contract.totalFinePaid}}</td>
                              <td></td>
                              <td></td>
                            </tr>
                          </tfoot>
                        <tbody>
                            <tr ng-repeat="item in contract.instalments">
                                <td>{{ item.dueDate | date }}</td>
                                <td>{{ item.paidAmount }}</td>
                                <td>{{ item.unsettleAmount }}</td>
                                <td>{{ item.lateDays }}</td>
                                <td>{{ item.paidDate | date }}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>


        </div>

        <div class="row">
            <div class="col-lg-4">
                <details>
                    <summary>
                        <b>Customer details.</b>
                    </summary>
                    <br>
                    <p>Name : {{contract.customerName}}</p>
                    <p>Nic : {{contract.customerNIC}}</p>
                    <p>Address : {{contract.customerAddress}}</p>
                    <p>Contact No : {{contract.customerContactNo}}</p>
                    <p>Occupation : {{contract.customerOccupation}}</p>
        
                </details>
            </div>
        
            <div class="col-lg-4">
                <details>
                    <summary>
                        <b>Guarantor details.</b>
                    </summary>
                    <br>
                    <p>Name : {{contract.guarantorName}}</p>
                    <p>Nic : {{contract.guarantorNIC}}</p>
                    <p>Address : {{contract.guarantorAddress}}</p>
                    <p>Contact No : {{contract.guarantorContactNo}}</p>
        
                </details>
            </div>
        
            <div  class="col-lg-4">
                <details>
                    <summary>
                        <b>Broker details.</b>
                    </summary>
                    <br>
                    <p>Name : {{contract.brokerName}}</p>
                    <p>Nic : {{contract.brokerNIC}}</p>
                    <p>Address : {{contract.brokerAddress   }}</p>
                    <p>Contact No : {{contract.brokerContactNo}}</p>
        
                </details>
            </div>
        </div>

        <div class="row">
            <ul class="gallery gallery1">
                <li ng-repeat="image in images">
                  <a ng-click="openLightboxModal($index)">
                    <img ng-src="{{image.url}}" class="img-thumbnail">
                  </a>
                </li>
              </ul>
        </div>

    </div>
</div>