<div id="page-wrapper">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Create new contract</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <div class="row">

            <div class="col-lg-12">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-5">

                            <div role="form">

                                <div class="form-group">
                                    <label>Customer NIC</label>
                                    <input type="text" name="nicCustomer" id="nicCustomer" ng-model="nicCustomer" ng-keyup="completeCustomerNICs(nicCustomer)" class="form-control" />
                                    <ul class="list-group" ng-model="nicCustomer" ng-hide="hideCustomerNICs" ng-mouseleave="hideList()">
                                        <li class="list-group-item" ng-repeat="nicdataCustomer in filterNICsCustomer" ng-click="fillTextboxCustomerNICs(nicdataCustomer)">{{nicdataCustomer}}</li>
                                    </ul>
                                    <span class="text-danger" ng-show="showCustomerNotExistWarning">This Customer not exist!</span>
                                </div>

                                <div class="form-group">
                                    <label>Amount</label>
                                    <input ng-model="contracts.contract.Amount" class="form-control" placeholder="Amount" ng-blur="contracts._getDocumentCharge()">
                                </div>

                                <div class="form-group">
                                    <label>Document Charge</label>
                                    <input ng-model="contracts.contract.DocumentCharge" class="form-control" placeholder="Document Charge" ng-disabled="true">
                                </div>

                                <div class="form-group">
                                    <label>No of installments</label>
                                    <input ng-disabled="isNoOfInstallmentsDisabled" ng-blur="contracts._getMonthlyInstallment()" class="form-control" ng-model="contracts.contract.NoOfInstallments"  placeholder="No of installment">
                                </div>

                                <div class="form-group">
                                    <label>Monthly Installment</label>
                                    <input ng-disabled="true" class="form-control" ng-model="contracts.contract.Insallment" placeholder="Monthly Installment">
                                </div>

                                <div class="form-group" ng-hide="true">
                                    <label>Type of </label>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" ng-model="contracts.contract.Type" id="optionsRadios1" value="Motor bike" checked>Motor bike
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" ng-model="contracts.contract.Type" id="optionsRadios2" value="Three wheeler">Three wheller
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" ng-model="contracts.contract.Type" id="optionsRadios3" value="Land">Land
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Vehicle No</label>
                                    <input class="form-control" ng-model="contracts.contract.VehicleNo" placeholder="AD-3456">
                                </div>

                                <div class="form-group">
                                    <tags ng-model="tags"></tags>
                                </div>

                                <div class="form-group">
                                    <label>NIC of the guarantor &nbsp;&nbsp; <a data-toggle="modal" ng-click="onCreateGuarantorClick()"><i class="fa fa-plus-circle fa-1x"></i></i></a></label>
                                    <input type="text" name="nicGuarantor" id="nicGuarantor" ng-model="nicGuarantor" ng-keyup="completeGuarantorNICs(nicGuarantor)" class="form-control" />
                                    <ul class="list-group" ng-model="nicGuarantor" ng-hide="hideGuarantorNICs" ng-mouseleave="hideList()">
                                        <li class="list-group-item" ng-repeat="nicdataGuarantor in filterNICsGuarantor" ng-click="fillTextboxGuarantorNICs(nicdataGuarantor)">{{nicdataGuarantor}}</li>
                                    </ul>

                                    <span class="text-danger" ng-show="showGuarantorNotExistWarning">This Guarantor not exist!</span>
                                </div>


                                <div class="form-group">
                                    <label>NIC of the broker &nbsp;&nbsp; <a data-toggle="modal" ng-click="onCreateBrokerClick()"><i class="fa fa-plus-circle fa-1x"></i></i></a></label>
                                    <input type="text" name="nicBroker" id="nicBroker" ng-model="nicBroker" ng-keyup="completeBrokerNICs(nicBroker)" class="form-control" />
                                    <ul class="list-group" ng-model="nicBroker" ng-hide="hideBrokerNICs" ng-mouseleave="hideList()">
                                        <li class="list-group-item" ng-repeat="nicdataBroker in filterNICsBroker" ng-click="fillTextboxBrokerNICs(nicdataBroker)">{{nicdataBroker}}</li>
                                    </ul>

                                    <span class="text-danger" ng-show="showBrokerNotExistWarning">This Broker not exist!</span>
                                </div>

                                <div class="form-group">
                                    <label>Contract process Location</label>
                                    <select class="form-control" name="location" id="location"
                                    ng-options="option.location for option in contracts.locations track by option.code"
                                    ng-model="contracts.contract.location" required ng-change="contracts._generateContractNumber()"></select>
                                </div>

                                <div class="form-group">
                                    <label>Contract Number</label>
                                    <input ng-model="contracts.contract.ContractNo" class="form-control" placeholder="Contract number" ng-disabled="true">
                                </div>                                

                                <div class="form-group">
                                    <label>Description</label>
                                    <!-- <input class="form-control" type="textarea" ng-model="contracts.contract.Description" placeholder="Description"> -->
                                    <textarea  class="form-control" rows="6" cols="50" ng-model="contracts.contract.Description"></textarea>
                                </div>

                                <button type="button" ng-click="contracts._createContract()" class="btn btn-primary">Create contract</button>

                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div id="addNewGurentor" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add new guarantor</h4>
                    </div>
                    <div class="modal-body">

                        <div role="form">

                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control" placeholder="T.S Lorensu">
                            </div>

                            <div class="form-group">
                                <label>NIC</label>
                                <input class="form-control" placeholder="900015512v">
                            </div>

                            <div class="input-append date form-group" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                                <label>Date</label>
                                <input class="form-control" size="16" type="text" value="12-02-2012">
                            </div>

                            <div class="form-group">
                                <label>Address</label>
                                <textarea class="form-control" rows="4" cols="50" placeholder="100/1,Rathmalana, colombo"></textarea>
                            </div>

                            <div class="form-group">
                                <label>Contact No</label>
                                <input class="form-control" placeholder="0776784325">
                            </div>

                            <div class="form-group">
                                <label>Occupation</label>
                                <input class="form-control" placeholder="Mechanic">
                            </div>

                            <button type="submit" class="btn btn-default">Add gurenter</button>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>


        <div id="addNewBroker" class="modal fade" role="dialog" ng-controller="AddNewBrokerController as addBroker" ng-init="addBroker.onLoad()">
 
            <div class="modal-dialog">


               
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add new broker</h4>
                    </div>
                    <div class="modal-body">
                        <div role="form">

                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control" placeholder="T.S Lorensu">
                            </div>

                            <div class="form-group">
                                <label>NIC</label>
                                <input class="form-control" placeholder="900015512v">
                            </div>

                            <div class="input-append date form-group" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                                <label>Date</label>
                                <input class="form-control" size="16" type="text" value="12-02-2012">
                            </div>

                            <div class="form-group">
                                <label>Address</label>
                                <textarea class="form-control" rows="4" cols="50" placeholder="100/1,Rathmalana, colombo"></textarea>
                            </div>

                            <div class="form-group">
                                <label>Contact No</label>
                                <input class="form-control" placeholder="0776784325">
                            </div>

                            <div class="form-group">
                                <label>Occupation</label>
                                <input class="form-control" placeholder="Mechanic">
                            </div>

                            <button type="button" class="btn btn-default" ng-click="addBroker.brokers._createBroker()">Add new broker</button>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>

        </div>


    </div>
</div>