<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
        <a class="navbar-brand"  href="/#/app">MS Investment</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">

        <li>
            <a class="fa fa-sign-out fa-fw" data-toggle="dropdown" ng-click="logout()">
                        <!-- <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i> -->
                    </a>
            <!-- <ul class="dropdown-menu dropdown-user">
     
                <li><a><i class="fa fa-sign-out fa-fw" ></i> Logout</a>
                </li>
            </ul> -->
            <!-- /.dropdown-user -->
        </li>

    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <!-- <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" ng-model="searchString" placeholder="Search...">
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="getCustomerContracts()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                    </div>
                    
                </li> -->
                <li>
                    <a href="/#/app"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li>
                    <a href="/#/app/customer"><i class="fa fa-user fa-fw"></i> Add New Customer</a>
                </li>
                <li>
                    <a href="/#/app/contract/0"><i class="fa fa-plus-square fa-fw"></i> Add New Contract</a>
                </li>
                <li>
                    <a href="/#/app/file_upload"><i class="fa fa-upload fa-fw"></i> Upload Documents</a>
                </li>
                <li>
                    <a href="/#/app/instalment"><i class="fa fa-money fa-fw"></i> Instalments</a>
                </li>
                <li>
                    <a href="/#/app/contract_close_list"><i class="fa fa-folder fa-fw"></i>Close Contrcts</a>
                </li>
                <li>
                    <a href="/#/app/active_contracts"><i class="fa fa-folder-open fa-fw"></i> Active Contracts</a>
                </li>
                <li>
                    <a href="/#/app/closed_contracts"><i class="fa fa-circle fa-fw"></i> Closed Contracts</a>
                </li>                
                <li>
                    <a href="/#/app/revenue_report"><i class="fa  fa-bar-chart-o fa-fw"></i>Revenue Report</a>
                </li>
                <li>
                    <a href="/#/app/accrued_revenue_report"><i class="fa fa-calendar fa-fw"></i>Accrued Revenue Report</a>
                </li>
                <li>
                    <a href="/#/app/document_charge_report"><i class="fa fa-file-text fa-fw"></i>Document Charge Report</a>
                </li>               
                <li>
                    <a href="/#/app/instalments_approve_list"><i class="fa fa-tasks fa-fw"></i>Approve Instalments</a>
                </li>
                <li>
                    <a href="/#/app/settings"><i class="fa fa-gears fa-fw"></i> Settings</a>
                </li>
                <li ng-hide="true">
                    <a href="tables.html"><i class="fa fa-users fa-fw"></i> Add new brocker</a>
                </li>     
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>