<div id="page-wrapper">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Upload Documents</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <div class="row">

            <div class="col-lg-12">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-5">

                            <form id="_form" novalidate name="_form">

                                <div class="form-group">
                                    <label>Customer NIC</label>
                                    <input type="text" name="nicCustomer" id="nicCustomer" ng-model="nicCustomer"
                                        ng-keyup="completeCustomerNICs(nicCustomer)" class="form-control" />
                                    <ul class="list-group" ng-model="nicCustomer" ng-hide="hideCustomerNICs" ng-mouseleave="hideList()" required>
                                        <li class="list-group-item" ng-repeat="nicdataCustomer in filterNICsCustomer" ng-click="fillTextboxCustomerNICs(nicdataCustomer)">{{nicdataCustomer}}</li>
                                    </ul>
                                    <span class="text-danger" ng-show="showCustomerNotExistWarning">This Customer not exist!</span>
                                    <span class="text-danger" ng-show="_form.nicCustomer.$error.required">Customer NIC Number is Required!</span>
                                </div>

                                <div class="form-group">
                                    <label>Vehicle No</label>
                                    <select class="form-control" name="VehicleNo" id="VehicleNo" 
                                    ng-options="contract.id as contract.vehicleNo for contract in vehicleNumbersOfOpenContracts" 
                                    ng-model="selectedContractId" ng-change="OnVehicleNumberChange(selectedContractId)" required>
                                    </select>
                                    <span class="text-danger" ng-show="_form.VehicleNo.$error.required">Vehicle Number is Required!</span>
                                </div>

                                <!--ADD A PROGRESS BAR ELEMENT.-->
                                <!-- <p><progress id="pro" value="0"></progress></p> -->

                                <div class="form-group">
                                    <input class="btn btn-default" type="file" id="file" name="file" multiple
                                        onchange="angular.element(this).scope().getFileDetails(this)" />
                                </div>

                                <div class="form-group">
                                    <input class="btn btn-default" type="button" ng-click="uploadFiles()" ng-disabled="!_form.$dirty || _form.$invalid" value="Upload" />
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>


        </div>

        


    </div>
</div>