<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">

            <div class="panel panel-default">

                <div class="panel-heading" style="background:#2c4a68; color:white"><h3>Document Charge Report</h3></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-2">
                            <div id="dpFrom" class="input-group date" data-date-format="mm-dd-yyyy">                     
                                <input class="form-control" type="text" readonly ng-model="documentCharge.fromDate"/>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div id="dpTo" class="input-group date" data-date-format="mm-dd-yyyy">                     
                                <input class="form-control" type="text" readonly ng-model="documentCharge.toDate"/>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div> 
                        </div>

                        <div class="col-lg-3">
                            <button class="btn btn-primary" ng-click="documentCharge._loadDocumentChargeReport()">Filter</button>
                        </div>
                    </div>                   
                </div>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Vehicle No</th>
                                <th>Customer</th>  
                                <th>Paid date</th>
                                <th>Amount</th>                                                                           

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in documentCharge.revenueData.docChargeRecords">  
                                <td>{{ item.vehicleNo }}</td>  
                                <td>{{ item.customer }}</td>  
                                <td>{{ item.paidDate | date : 'MM/dd/yyyy' }}</td> 
                                <td>{{ item.amount | number }}</td>                                                                                                           
                            </tr>
                            <tr>
                                <td><b>Total Document Charges</b></td>
                                <td></td>
                                <td></td>
                                <td>{{ documentCharge.revenueData.total | number }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>


        </div>
    </div>
</div>